{% extends '_layout.twig' %}

{% block content %}
<div class="title m-b-md">
    Slim Starter
</div>

<div class="links">
    <a href="https://www.slimframework.com/docs/">Documentation</a>
    <a href="http://discourse.slimframework.com/">Support</a>
    <a href="https://www.slimframework.com/blog/">Blog</a>
    <a href="https://www.slimframework.com/contribute/">Contributing</a>
    <a href="https://github.com/slimphp/Slim">GitHub</a>
</div>
{% endblock %}
