{% extends '_layout.twig' %}

{% block content %}
<div class="title m-b-md">
    {{session('message')}}

    <form method="POST">
        {% include '_csrf.twig' %}
        <input type="text" name="name" placeholder="What's your name?">
        <button type="submit">Go</button>
    </form>
</div>

{% endblock %}
