{% extends '_layout.twig' %}

{% block content %}
<div class="title m-b-md">
    Slim Starter

    <form method="POST">
        {% include '_csrf.twig' %}
        <input type="text" name="name" placeholder="What's your name?">
    </form>
</div>

<div class="links">
    <a href="https://www.slimframework.com/docs/">Documentation</a>
    <a href="http://discourse.slimframework.com/">Support</a>
    <a href="https://www.slimframework.com/blog/">Blog</a>
    <a href="https://www.slimframework.com/contribute/">Contributing</a>
    <a href="https://github.com/slimphp/Slim">GitHub</a>
</div>
{% endblock %}
